* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Bold.woff2') format('woff2'),
        url('Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futural';
    src: url('FuturaBT-Light.woff2') format('woff2'),
        url('FuturaBT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.nav {
  width: 8%;
  background: black;
  position: fixed;
  z-index: 999;
  transition: all .5s ease-in-out;
  overflow: hidden;
  color: white;
  visibility: visible;
  padding: 1rem;
  height: 150px;
  font-family: 'Futura', arial, sans-serif;
  position: absolute;
  top: 0;
}

.overlay h2 {
  font-family: 'Futura';
  color: black;
  font-size: 3.5rem;
  padding: 1.5rem;
  padding-bottom: 1rem;
  /*display: none;*/
  transition: all .5s ease-in-out;
}

.overlay2 {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: 'Futura', arial, sans-serif;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    left: 10%;
    text-align: center;
    margin-top: 30px;
}

.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: left;
}


.overlay2 a:hover, .overlay2 a:focus {
    color: #f1f1f1;
}


.overlay2 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#repfamlogo {
  font-size: 2rem;
  text-align: left;
}


body {
  background: black;
}

.content {
  width: 75%;
	margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

  h1 {
    font-family: 'Futura', 'Open Sans', arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 4rem;
  }

  form{
    width: 50%;
    overflow: hidden;
    margin-top: 2rem;
}
input{
    width: 100%;
    line-height: 5rem;
    background: none;

    font-family: 'Futura', 'Open Sans', arial, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    padding-left: 2rem;
}

.name {
  border-top: white solid 3px;

  border-bottom: white solid 1.5px;
}

#first {
border-right: white solid 1.5px;
border-left: white solid 3px;
}

#last {
border-left: white solid 1.5px;
border-right: white solid 3px;
}

.email {
  border-top: white solid 1.5px;
  border-left: white solid 3px;
  border-right: white solid 3px;
  border-bottom: white solid 1.5px;
}

input:active input:focus {
  outline: 0;
  -moz-outline-style: none;
}

:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 0.75;
}
span {
    overflow: hidden;
}

textarea {
  width: 100%;
  background: none;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 2rem;
  display: list-item;
  border-top: white solid 1.5px;
  border-left: white solid 3px;
  border-right: white solid 3px;
  border-bottom: white solid 1.5px;
}

textarea::placeholder {
  font-family: 'Futura', 'Open Sans', arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

input[type=submit] {
  border-top: white solid 1.5px;
  border-left: white solid 3px;
  border-right: white solid 3px;
  border-bottom: white solid 3px;
}

/* Portrait Phones */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .content {
      width: 75%;
      margin-top: 40%;
    }

    form {
      width: 100%;
    }

    h1 {
      font-size: 3.75rem;
    }

    input {
      line-height: 7rem;
    }

    .footer {
      position: absolute;
      bottom: 0;
    }

    .nav h1 {
      font-size: 3rem;
    }

    .nav {
      width: 25%;
    }



    .fa-bars {
      font-size: 2rem;
      padding-top: .5rem;
    }

    p strong {
      padding-right: .5rem;
    }

    .overlay2 a {
      font-size: 7rem;
      text-align: center;
    }

    .overlay-content {
      left: 0;
    }

    .overlay {
      height: 100%;
      opacity: 0;
    }

    #repfamlogo {
      font-size: 3rem;
    }
}

/* Tablets Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    form {
      width: 100%;
    }

    .content {
      margin-top: 5%;
    }

    input {
      line-height: 4.5rem;
    }

    textarea {
      height: 40vh;
    }

    .footer {
      display: none;
    }
}

.footer {
  width: 100vw;
  background: black;
  height: 4vh;
  display: flex;
  color: white;
  align-items: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;
}

.footersec {
  flex: .33333;
  display: flex;
  font-family: 'Open Sans', arial, sans-serif;

}

.footer h2 {
  font-family: 'Futura', 'Open Sans', arial, sans-serif
}

#middle {
  justify-content: center;
}

#end {
  justify-content: flex-end;
  vertical-align: middle;
}

.sec1 {
  font-family: 'Open Sans', arial, sans-serif;
}

/* ----------- Retina Laptop ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .footer {
      position: inherit;
      margin-top: 5rem;
    }

    .content {
      margin-top: 5%;
    }

    form {
      width: 85%;
    }
}

/* ----------- Non-Retina Laptops ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {


    .overlay2 a {
      font-size: 3.5rem;
    }

    .nav {
      width: 12%;
    }



}
