* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:800i');


@font-face {
    font-family: 'dk_cinnabar_brushregular';
    src: url('dk_cinnabar_brush-webfont.woff2') format('woff2'),
         url('dk_cinnabar_brush-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*.page {
  background-color: white;
  width: 100vw;
  height: 100vh;
}*/

.logo {
  width: 125px;
  height: auto;
  display: inline;
}

.hamburger {
  width: 25px;
  height: auto;
  display: inline;
  user-select: none;
  user-drag: none;
}

img {
  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

li {
  display: inline;
}

.nav {
  display: flex;
  width: 100vw;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 2rem;
  position: fixed;
  z-index: 9999;

}

.left {
  display: flex;
  width: 50%;
}

.right {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

h2 {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  font-size: 5rem;
}

h1 {
  font-family: 'dk_cinnabar_brushregular';
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  color: #3effd0;
}

.hero {
  padding: 6rem;
  padding-top: 15vh;
}

.page {
  /*max-width: 90vw;
  margin: auto;
  margin-top: 10vh;*/
}

h2 {
  font-family: "Open Sans", arial, sans-serif;
  color: black;
  font-size: 3.5rem;
}

h1 {
  font-size: 4.5rem;
}

.gallery {
  margin-top: 5vh;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3effd0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999999;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'dk_cinnabar_brushregular';
    font-weight: normal;
    font-style: normal;
    font-size: 5rem;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.container {
  width: 1200px;
  height: 800px;
  overflow: hidden;
  margin-bottom: 5rem;
  z-index: 1;
  position: relative;
}

.image {
background-repeat: no-repeat;
background-position: center center;
  background: url("gfx.png");

transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
-webkit-transition: all 1.5s ease;
-o-transition: all 1.5s ease;


  filter: grayscale(100);
  background-size: cover;

  background-attachment: fixed;
  width: 1200px;
  height: 800px;
  float: left;

}

.image:hover {
  transform: scale(1.125);
  -moz-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  -o-transform: scale(1.125);
  -ms-transform: scale(125); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=125, M12=0, M21=0, M22=125, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=125, M12=0, M21=0, M22=125, SizingMethod='auto expand'); /* IE6 and 7 */
}

.containertwo {
  width: 1200px;
  height: 800px;
  overflow: hidden;
  margin-bottom: 5rem;
  float: right;
  position: relative;
}

.imagetwo {

  background: url("brutalist4.png");
background-position:left right;
transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
-webkit-transition: all 1.5s ease;
-o-transition: all 1.5s ease;

  background-position: right right;
  filter: grayscale(100);
  background-size: cover;

  background-attachment: fixed;
  width: 1200px;
  height: 800px;
  float: left;

}

.imagetwo:hover {
  transform: scale(1.125);
  -moz-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  -o-transform: scale(1.125);
  -ms-transform: scale(125); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=125, M12=0, M21=0, M22=125, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=125, M12=0, M21=0, M22=125, SizingMethod='auto expand'); /* IE6 and 7 */
}

/*.imagetwo {
  background-position: no-repeat;
  filter: grayscale(100);
  background-size: cover;
  margin-bottom: 5rem;
  background-attachment: fixed;
  width: 1200px;
  height: 800px;
  float: right;
  background-image: url('https://images.unsplash.com/photo-1477209560495-270790f2251a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=42dc70ee5e560c7e090b959c6c52fbc0&auto=format&fit=crop&w=1950&q=80');
}
*/

.featureditem {
  z-index: 9999;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 5%;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 3rem;
}

.featureditem2 {
  z-index: 9999;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  right: 5%;
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 3rem;
}





.bottomtext {
  font-family: "Roboto", arial, sans-serif;
  font-size: 1rem;
  color: #3effd0;
}


.clear {
  clear: right;
}
.hero2 {
  padding: 7rem;
  margin-bottom: 5vh;
}

button {
background-color: #3effd0;
border: none;
padding: .75rem;
font-size: 2rem;
color: white;
background: transparent;
background-image: url('swash.png');
background-position: center center;
background-size: cover;
font-family: 'dk_cinnabar_brushregular';

}

.portfolio {
  width: 100%;
position: relative!important;
  /*background-image: url('portfoliobg.jpg');
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/

}

.mySlides {
width: 100%;
height: 40vh;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.slideone {
    background-image: url('arcade.jpg');
}

.slidetwo {
  background-image: url('boulder.JPG');
}

.slidethree {
    background-image: url('boco.JPG');
}

.ptext {
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.footer {
  width: 100%;
  background: black;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 400;
  font-size: .75rem;
text-align: center;

}

.w3-section {
  margin-bottom: 0!important;
  margin-top: 0!important;
}

.w3-content, .w3-section {
  min-width: 100vw;
  max-width: 100vw;

}

button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 99999999;
}


.elementfooter {
  padding: 1rem;
}

span {
  padding-left: .2rem;
}






@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ----------- Non-Retina Laptops ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
.container, .containertwo {
  width: 1000px;
  height: 600px;
}
}

/* Portrait Large Phones */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .container, .containertwo {
    width: 700px;
    height: 600px;
  }

  .image, .imagetwo {
    width: 100%;
    height: 100%;
  }

  .container {
    margin-bottom: 10vh;
  }

  .hero h2 {
    font-size: 2.25rem;
  }

  .hero2 h2 {
    font-size: 2.5rem;
  }

  .footer span {
    font-size: 1.25rem;
  }

  button {
    font-size: 2.5rem;
  }

  .featureditem p {
    font-size: 1.5rem;
  }

  .featureditem2 p {
    font-size: 1.5rem;
  }

  .featureditem, .featureditem2 {
    font-size: 3.5rem;
  }

  .nav {
    padding-top: 4rem;
  }

  .overlay-content {

      top: 30%;

      margin-top: 30px;
  }

  .imagetwo {
    background-position: center!important;
  }

  .mySlides {
    height: 25vh;
  }
}
